
table {
    border-collapse: collapse;
}

thead {
    background-color: pink;
}

td, th {
    border-style: hidden;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
}

td.numeric {
    text-align: right;
}

/**
 * vim: tabstop=4 shiftwidth=4 expandtab softtabstop=4
 */
